body{background:#e1e3e8; font-size:15px; color:darkblue;width:1500px; height:2500px;}
div.meni{position:fixed; top:55px; left:155px; background:transparent; border:1px solid red; border-radius:15px; }
